@charset "utf-8";
/*蓝色*/
#sn7_leftsead li a .shows{background-color:#3366ff;}
#sn7_leftsead li a .sn7_hides p{background-color:#3366ff;} 
#sn7_leftsead li a .sn7_hides .ph_bg{background-color:#3366ff;}

#sn7_leftsead li .line-service {background-color: #3366ff;}
#sn7_leftsead li .line-service .sn7_hides .service_bg {background-color: #3366ff;}